node_modules/
.env
.env.local
.env.*.local
.DS_Store
*.log

# MongoDB Connection String should be stored in .env file as:
# MONGODB_URI=mongodb+srv://swang:<db_password>@waste-managament.tnp4tpe.mongodb.net/?appName=waste-managament
